.page.narrow-margin {
    padding: 1cm;
}

.page-holder {
    font-family: "Century Gothic", Helvetica, sans-serif;
    padding-left: 60px;
}

.page-row {
    display: flex;
}

.left-column {
    width: 70%;
    margin-right: 20px;
}

.right-column {
    width: 30%;
}

.identity-holder {
    padding-bottom: 35px;
    padding-left: 40px;
    color: #373d48;
    position: relative;
}

.identity-holder img {
    border-radius: 50%;
    width: 80px;
    position: absolute;
    left: -53px;
}

.identity-holder .name {
    font-size: 36px;
    font-weight: 700;
}

.identity-holder .position {
    font-size: 16px;
}

.content-holder {
    padding-left: 25px;
    margin-bottom: 20px;
    margin-left: 15px;
    position: relative;
    border-left: 1px solid transparent;
}

.content-holder .heading {
    font-size: 16px;
    font-weight: 700;
    color: #373d48;
    margin-bottom: 10px;
}

.content-holder .title {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
}

.content-holder .body {
    font-size: 11px;
    font-weight: 400;
    color: #343434;    
}

.content-holder.with-timeline {
    border-left: 1px solid #d7d7d7;
}

.content-holder.with-timeline .title::before {
    content: "";
    display: block;
    background: #373d48;
    border: 0;
    border-radius: 100%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 4px;
    left: -29px;        
    z-index: 2;
}

.heading-holder .icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -4px;
    left: -15px;
}

.heading-holder .icon svg circle {
    fill: #373d48;
}

.heading-holder .icon svg path {
    fill: #ffffff;
}

.body .body-holder {
    position: relative;
    padding-bottom: 15px;
}

.body .body-holder:last-child {
    padding-bottom: 0px;
}

.body .body-holder .paragraph p {
    margin: 0px;
}

.body .timeline {
    position: absolute;
    left: -95px;
    line-height: 15px;
}

.body .timeline span {
    display: block;
}

.body .paragraph {
    line-height: 15px;
}

.body .paragraph ul{
    padding-left: 15px;    
}

@media print {
    .content-holder.with-timeline .title::before {
        border: 4px solid #373d48;
        width: 0;
        height: 0;
    }
}